* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.carousel {
  max-width: 100%;
  background-color: #ddd;
  position: relative;
}

.slides {
  overflow: auto;
  display: flex;
  margin-top: 0;
  position: absolute;
  z-index: 9;
  width: 100vw;
  top: 0;
}

.slide {
  width: 0px;
  transition: all .3s;
  overflow: hidden;
  visibility: hidden;
  background-color: #222;
}

.slide.active {
  color: white;
  visibility: visible;
  width: 100%;
  max-height: 300px;
  height: 300px;
  z-index: 9;
  padding: 40px 150px;
}




.controls {
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.controls .control {
  display:  flex;
  align-items: center;
  z-index: 10;
  height: 300px;
}
.controls .control.next {
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(90deg, rgba(217, 217, 217, 0) 50%, rgba(0, 0, 0, 0.5) 100%);

}
.controls .control.prev {
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(270deg, rgba(217, 217, 217, 0) 50%, rgba(0, 0, 0, 0.5) 100%);


}

.controls a {
  text-decoration: none;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 40px;
  border: 1px solid white;
  color: white;
  border-radius: 20px;
}
/* 
#a {
  background: url(https://images.unsplash.com/photo-1658679684720-12041e151b90?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDMzfGJvOGpRS1RhRTBZfHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=600&q=60);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
} */